body {
    text-align: center;
}

header{
    height:200px;
    
    
}

header img{
   height:200px;
}

.main {
    display: inline-block;
    vertical-align: top;
    padding-left: 28px;
}

.loginBox {
    border: 2px solid white;
    margin-top: 80px;
    padding: 10px;
	background-color: rgba(106, 65, 65, 0);
	position: relative;
	z-index: 1;
}

.loginField {
    margin-bottom: 12px;
}

.login {
    -webkit-text-fill-color: white;
    vertical-align: center;
}

#usrName, #pwd, #svrName {
    border-radius: 5px;
}

#btnJouer {
    border: 1px solid white;
    border-radius: 5px;
}

.errorMsg {
    color:red;
    margin-bottom: 20px;
}

button {
    border: none;
    color: white;
    padding: 5px 30px;
    background-color: #666565;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #AAA9A9;
}
