header{
	height: 70px;
	border-bottom: 1px solid white;
	border-radius: 5px;
	margin-bottom: 10px;
}

body{
	height:910px;
	width:600px;
	margin:auto;
	border:1px solid white;
	border-radius:5px;

}

footer{
	text-align: center;
	border-top: 1px solid white;
	border-radius: 5px;
}

.listeScroll{
	overflow-y: scroll;
	height: 800px;
	width:600px;
}
.ligneScore{
	display: flex;
	padding-left:3em;
	padding-bottom: 10px;
	border-bottom: 1px dashed white;
	margin-bottom:1em;
}
.nom{
	text-decoration: underline;
	margin-bottom:2px;
	margin-left:10px;
}
.ref{
	width: 150px;

}

.barre{
	width:400px;
	margin-left:15px;
}

.formulaire{
	margin-bottom: 10px;
}

.trie{
	margin-left: 25px;
}

.back_btn{
	text-decoration: underline;
	display:inline-block;
	position:fixed;
	top:0;
	left:5px;
}