@font-face {
	font-family : "Poiret One";
	src:url("../fonts/PoiretOne-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body {
    font-family: 'Poiret One', sans-serif;
    background-color:black;
    background-image:url("../images/bglogin.jpg");
    color:white;
    text-shadow: 0 0 5px black;
    font-size:20px;
    height: 100%;
    position:relative;
    overflow:hidden;
}

body {
    background-position: center center;
    background-size: cover;
    margin:0;
}

nav{
    display:flex;
}

#user-actions-nav{
    display:flex;
    list-style: none;
    text-align:right;
    margin:auto;
    margin-right:7px;
}

#user-actions-nav li{
    margin-left:15px;
}

#bg-panel{
    color:black;
    background-color:black;
    opacity:0.5;
    border-style:solid;
    position:absolute;
    height:100%;
    width:100%;
    margin:0;
    z-index:9;
    display:none;
}

.panel{
    /* border-style:solid; */
    background-color:black;
    padding:50px;
    width:600px;
    height:200px;

    text-align:center;

    /* margin:auto;
    margin-top:0; */

    position:absolute;
    left:32%;
    /* top:25%; */

    transition:all 0.5s ease;
    z-index: 10;
}

.panel h1{
    margin:0;
}

.panel p{
    margin:0;
}

a {
    color: white;
}

.technical{
	/* font-size:24px; */
    font-weight:bold;
    text-align:left;
    height:50px;
    font-size:16px;
}

/* ------------- PANEL PROFILE ----------- */

#panel-profile{
	/* display:none; */
	bottom:-700px;
	height:400px;
	padding-top:20px;
}

#profile-pic{
	background-image:url("../images/PersonBlack.png");
	background-size:cover;
	border-style:solid;
	border-radius:100px;
	height:180px;
	width:180px;
	margin:auto;
	margin-top:5%;
	margin-bottom:5%;
}