body{
	overflow:hidden;
}

main{
	height:100%;
}

section{
	/* border-style:solid; */
	color:white;
}

#ballx{
	display:none;
}

#bally{
	display:none;
}

#clientx{
	display:none;
}

#clienty{
	display:none;
}

#game-container{
	display:block;
	height:20%;
	width:1200px;
	
	margin:auto;
	margin-top:0;
	margin-bottom:450px;
}

#logobar{
	height:75px;
}

#person-name{
	display:none;
}

#plattern{
	display:block;
	margin:auto;
	position:relative;
	
	
	margin-top:2%;
	/* margin-top:12%; */
	/* border-style:solid; */
	/* height:300px; */

	/* height:320px;
	width:600px; */
	height:640px;
	width:1200px;
	

	background-color:blue;
	background-image:url("../images/plattern1.png");
	background-size:cover;
}

#game-info{
	/* height:30%; */
	height:10px;
	display:flex;
	margin-bottom:2px;

	/* position:absolute; */
	bottom:10%;
}

.coord{
	margin-left:50px;
}

.player-info{
	width:50%;
	/* border-style:solid; */
	margin-left:100px;
	margin-top:30px;
	margin-bottom:2px;

}

.two{
	margin-left:600px;
}


/* .player-info{
	width:50%;
	/* border-style:solid; */
	/* margin-left:100px; */
/*	margin-top:30px;
	/* margin-right:0; *//*
	margin-bottom:2px;
	width:215px;
	position:absolute;
} */

.left{
	left:10px;
}

.right{
	right:10px;
}

.player-name{
	font-size:50px;
}

.player-score{
	font-size:30px;
}







/* ------ SPRITES ------ */

.ball{
	width:50px;
	height:50px;
	background-size:cover;
	position:absolute;
	top:110px;
	left:150px;
	
}

.red{
	background-image:url("../images/redball.png");
}

.yellow{
	background-image:url("../images/yellowball.png");
}

.white{
	background-image:url("../images/whiteball.png");
}

.queue{
	width:600px;
	/* height:250px; */
	height:20px;
	position:absolute;
	background-image:url("../images/tail1.png");
	background-position:center;
	/* background-color:black; */
	/* border-style:solid; */
	/* tranform-rotate: 36deg; */

	/* transform-origin:0 50%; */
}