/* main{
	position:relative;	
} */

header{
	height:40px;
	margin:auto;
}

header img{
	height:170px;
	display:block;
	margin:auto;
}

#gametypes{
	/* display:block; */
	/* margin-left:40%; */
	/* border-style:solid; */
	width:35%;

	/* position:relative; */

	margin:150px auto;
	margin-left:30%;
	
	height:400px;

	
	
}

#gametypes h1{
	text-align:center;
	margin-left:50px;
	margin-bottom:30px;
}

#gametypes ul{
	/* display:block; */
	
	margin:auto;
	display:flex;

	/* border-style:solid; */
	border-color:blue;

	height:100%;
	width:100%;
	margin-top:0;

	position:relative;

}

#misc{
	margin:auto;
	width:50%;
	/* border-style:solid	; */
	text-align:center;
}



#show-scores{
	border-style:solid;
	width:50%;
	padding:20px;
	transition:all 1s ease;
	margin:auto;
}

#show-scores:hover {
	background-color: green;
}

.type{
	display:flex;
	border-style:solid;
	width:100%;

	margin-left:20px;
	/* height:100%; */

	text-align:center;

	position:relative;

	transition:all 1s ease;

}

.type:hover{
	background-color:blue;
}

.type img{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	opacity:0;
	z-index: 2; /* TMP */
	transition:all 1.5s ease;

}

/* .type img:hover{
	opacity:0.6;
} */


/* ------------- PANEL LOADING ----------- */

#panel-loading{
	/* display:none; */
	bottom:-300px;
}

#panel-loading p{
	margin:0;
	margin-bottom:15px;
}

#loading-clock{
	border-style:solid;
	border-radius:100px;
	height:70px;
	width:70px;
	margin:auto;
	margin-top:5%;
	position:relative;
}

#loading-point{
	border-style:solid;
	border-radius:100px;
	height:10px;
	width:10px;
	top:0;
	left:0;
	margin:auto;
	position:absolute;
	color:white;
	/* display:none; */
	
}